
body {
    font-family: 'Montserrat', cursive;
}



.comfortaa {
    font-family: 'Montserrat', cursive;
}


.border-red {
    border-color: crimson !important;
}


.text-red, .error {
    color: crimson !important;
}


.dataTables_filter, .pagination {
    float: right !important;
}

.dataTables_empty{
    text-align: center !important;
}


